.row.content {
      height: 550px
    }



    /* Set gray background color and 100% height */

    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
      width: 15%;
    }

    #example_img {
      height: 100%;
      width: 100%;
      position: relative;

    }

    div>div>img {
      font-size: 25px;

    }

    h3 {
      font-family: 'Anton', sans-serif;
    }

    h4,
    h5,
    p {
      font-family: 'Fjalla One', sans-serif;
    }

    #quiz {
      margin-left: 50px;
    }

    /* On small screens, set height to 'auto' for the grid */

    @media screen and (max-width: 767px) {
      .row.content {
        height: auto;
      }
      #example_img {
        width: 100%
      }
      p {
        font-size: 20px
      }
    }

    @media only screen and (min-width: 992px) {
      #example_img {
        width: 80%
      }
      p {
        font-size: 35px
      }
      #header {
        font-size: 50px
      }

    }

    @media only screen and (min-width: 1200px) {
      #example_img {
        width: 70%
      }
      p {
        font-size: 35px
      }
      #header {
        font-size: 50px
      }
    }